
main/RoseRide/.gradle/7.0.2/executionHistory/executionHistory.bin
*.bin
main/RoseRide/.gradle/7.0.2/executionHistory/executionHistory.lock
main/RoseRide/.gradle/7.0.2/fileHashes/fileHashes.bin
main/RoseRide/.gradle/7.0.2/fileHashes/fileHashes.lock
