
main/RoseRide/.gradle/7.0.2/executionHistory/executionHistory.bin
*.bin
main/RoseRide/.gradle/7.0.2/executionHistory/executionHistory.lock
main/RoseRide/.gradle/7.0.2/fileHashes/fileHashes.bin
main/RoseRide/.gradle/7.0.2/fileHashes/fileHashes.lock
main/RoseRide/.gradle/7.0.2/executionHistory/executionHistory.bin
main/RoseRide/.gradle/7.0.2/executionHistory/executionHistory.lock
main/RoseRide/.gradle/7.0.2/executionHistory/executionHistory.bin
main/RoseRide/.gradle/7.0.2/fileHashes/fileHashes.bin
main/RoseRide/.gradle/7.0.2/fileHashes/fileHashes.lock
main/RoseRide/.gradle/7.0.2/fileHashes/fileHashes.lock
main/RoseRide/.gradle/7.0.2/fileHashes/resourceHashesCache.bin
main/RoseRide/.gradle/7.0.2/javaCompile/classAnalysis.bin
main/RoseRide/.gradle/7.0.2/javaCompile/jarAnalysis.bin
main/RoseRide/.gradle/7.0.2/javaCompile/javaCompile.lock
main/RoseRide/.gradle/7.0.2/javaCompile/taskHistory.bin
main/RoseRide/.gradle/buildOutputCleanup/buildOutputCleanup.lock
